<p id="notice"><%= notice %></p>


<h1>Events</h1>
<div class="main">
<h2>Previous events</h2>
<h2>Following events</h2>
</div>

<%@events.each do |event|%>

  <% if event.time.past?%>
    <div class="left"><%=event.title%> </div>
  <% else %>
    <div class="right"><%=event.title%> </div>
  <%end%>

<%end%>


<br>
<%= link_to 'New Event', new_event_path %>


